/assets
/css
/images
/themes/classic
/themes/minopix/back_end/*
/themes/minopix/front_end/*
/themes/minopix/views/back_end/*
/themes/minopix/views/front_end/*
/themes/minopix/views/login/*
/protected/commands
/protected/components/Library.php
/protected/components/Helpers.php
/protected/components/back_end/*
/protected/components/front_end/*
/protected/controllers
/protected/data
/protected/extensions
/protected/messages
/protected/migrations
/protected/models
/protected/modules
/protected/runtime
/protected/tests
/protected/vendor
/protected/views
/protected/.yiic
/protected/.htaccess
/protected/.yiic.bat
/protected/.yiic.php
.buildpath
.idea
.project
.settings
.DS_Store

